services:
  crisalid-bus:
    image: rabbitmq:3.13.7-management
  # neo4j (graph database)
  neo4j:
    image: neo4j:5.26.21-community
  # IKG (knowledge graph management)
  crisalid-org-registry:
    image: crisalidesr/crisalid-org-registry:1.0
  crisalid-ikg:
    image: crisalidesr/crisalid-ikg:1.0
    environment:
      - APP_ENV=PROD
  # Ofelia (cron-like task scheduler)
  crisalid-ofelia:
    image: mcuadros/ofelia:0.3
  # crisalid-bus (message broker)
  # harvester (publication harvester)
  svp-jel-proxy:
    image: crisalidesr/svp-jel-proxy:1.0
  harvester-redis:
    image: redis:7
  harvester-worker:
    image: crisalidesr/svp-harvester:1.0
    environment:
      - APP_ENV=PROD
  harvester-ui:
    image: crisalidesr/svp-harvester:1.0
    environment:
      - APP_ENV=PROD
  harvester-db:
    image: postgres:16
  # apollo (GraphQL API)
  apollo:
    image: crisalidesr/crisalid-apollo:1.0
    environment:
      - APP_ENV=PROD
  # Crisalid directory bridge (Airflow DAGs)
  cdb-postgres:
    image: postgres:16
  cdb-redis:
    image: redis:7.2-bookworm
  cdb-data-versioning-redis:
    image: redis:7.2-bookworm
  airflow-apiserver:
    image: apache/airflow:3.1.7
  airflow-scheduler:
    image: apache/airflow:3.1.7
  airflow-dag-processor:
    image: apache/airflow:3.1.7
  airflow-worker:
    image: apache/airflow:3.1.7
  airflow-triggerer:
    image: apache/airflow:3.1.7
  airflow-init:
    image: apache/airflow:3.1.7
  airflow-cli:
    image: apache/airflow:3.1.7
  flower:
    image: apache/airflow:3.1.7
  # Sovisuplus (scientific output and researcher identifiers)
  svp-db:
    image: postgres:16
  sovisuplus:
    image: crisalidesr/sovisuplus:v0.43-dev
  sovisuplus-maintenance:
    image: crisalidesr/crisalid-maintenance:1.0
  # Keycloak (identity and access management)
  keycloak-db:
    image: postgres:16
  keycloak:
    image: quay.io/keycloak/keycloak:26.3.2
  keycloak-tls:
    image: quay.io/keycloak/keycloak:26.3.2