services:
  keycloak-db:
    image: postgres:16
    container_name: keycloak-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${KEYCLOAK_DB_NAME}
      POSTGRES_USER: ${KEYCLOAK_DB_USER}
      POSTGRES_PASSWORD: ${KEYCLOAK_DB_PASSWORD}
    expose:
      - 5432
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: [ 'CMD-SHELL', 'pg_isready -U ${KEYCLOAK_DB_USER} -d ${KEYCLOAK_DB_NAME}' ]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - keycloak-network
    profiles:
      - keycloak
      - keycloak-tls

  keycloak:
    image: quay.io/keycloak/keycloak:26.3.2
    container_name: keycloak
    restart: unless-stopped
    command: start-dev --import-realm
    # for theme development, disable caching :
    #command: start-dev --import-realm --spi-theme--static-max-age=-1 --spi-theme--cache-themes=false --spi-theme--cache-templates=false
    expose:
      - 8080
    ports:
      - "8080:8080"
    environment:
      KC_PROXY: edge
      KC_DB: postgres
      KC_DB_URL_HOST: keycloak-db
      KC_DB_URL_PORT: ${KEYCLOAK_DB_PORT}
      KC_DB_URL_DATABASE: ${KEYCLOAK_DB_NAME}
      KC_DB_USERNAME: ${KEYCLOAK_DB_USER}
      KC_DB_PASSWORD: ${KEYCLOAK_DB_PASSWORD}
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KEYCLOAK_ADMIN}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_HOSTNAME: ${KEYCLOAK_SCHEME}://${KEYCLOAK_HOST}:${KEYCLOAK_PORT}
      KC_HOSTNAME_PORT: ${KEYCLOAK_PORT}
      KC_HOSTNAME_STRICT: "true"
      KC_HOSTNAME_BACKCHANNEL_DYNAMIC: "true"
      KC_HOSTNAME_DEBUG: "true"
      KC_HTTP_ENABLED: ${KEYCLOAK_HTTP_ENABLED}
      KC_HOSTNAME_STRICT_HTTPS: ${KEYCLOAK_HOSTNAME_STRICT_HTTPS}
    hostname: ${KEYCLOAK_HOST}
    volumes:
      - ./config:/opt/keycloak/data/import
      - ./themes:/opt/keycloak/themes
    depends_on:
      keycloak-db:
        condition: service_healthy
    networks:
      - keycloak-network
      - crisalid-front
    profiles:
      - keycloak
  keycloak-tls:
    image: quay.io/keycloak/keycloak:26.3.2
    container_name: keycloak
    command: start-dev --import-realm 
    expose:
      - 8080
      - 8443
    ports:
      - "8080:8080"
      - "8443:8443"
    environment:
      KC_PROXY: edge
      KC_DB: postgres
      KC_DB_URL_HOST: keycloak-db
      KC_DB_URL_PORT: ${KEYCLOAK_DB_PORT}
      KC_DB_URL_DATABASE: ${KEYCLOAK_DB_NAME}
      KC_DB_USERNAME: ${KEYCLOAK_DB_USER}
      KC_DB_PASSWORD: ${KEYCLOAK_DB_PASSWORD}
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KEYCLOAK_ADMIN}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_HOSTNAME: ${KEYCLOAK_SCHEME}://${KEYCLOAK_HOST}:${KEYCLOAK_PORT}
      KC_HOSTNAME_PORT: ${KEYCLOAK_PORT}
      KC_HTTPS_CERTIFICATE_FILE: /etc/x509/https/sovisuplus.local+4.pem
      KC_HTTPS_CERTIFICATE_KEY_FILE: /etc/x509/https/sovisuplus.local+4-key.pem

      KC_HOSTNAME_STRICT: "true"
      KC_HOSTNAME_BACKCHANNEL_DYNAMIC: "true"
      KC_HOSTNAME_DEBUG: "true"
      KC_HTTP_ENABLED: ${KEYCLOAK_HTTP_ENABLED}
      KC_HOSTNAME_STRICT_HTTPS: ${KEYCLOAK_HOSTNAME_STRICT_HTTPS}
    hostname: ${KEYCLOAK_HOST}
    volumes:
      - ./config:/opt/keycloak/data/import
      - ~/local-certs:/etc/x509/https
      - ./themes:/opt/keycloak/themes
    depends_on:
      keycloak-db:
        condition: service_healthy
    networks:
      - keycloak-network
      - crisalid-front
    profiles:
      - keycloak-tls

networks:
  keycloak-network:
    driver: bridge
  crisalid-front:
    driver: bridge