# used both in the Neo4j yaml file and in the offline backup script
NEO4J_VERSION=5.26.21
NEO4J_EDITION=community
NEO4J_ADMIN_IMAGE=neo4j/neo4j-admin:5.26.21

NEO4J_HTTP_PORT=7474

NEO4J_HEAP_INITIAL=4G
NEO4J_HEAP_MAX=8G
NEO4J_PAGECACHE_SIZE=6G
